CREATE TABLE [dbo].[MASCOTAS](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Especie] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Tamano] [nvarchar](50) NOT NULL,
	[Sexo] [nvarchar](20) NULL,
	[Castrado] [bit] NOT NULL,
	[Vacunado] [bit] NOT NULL,
	[Desparasitado] [bit] NOT NULL,
	[Sano] [bit] NOT NULL,
	[Microchip] [bit] NOT NULL,
	[CompatibleConNinos] [bit] NOT NULL,
	[CompatibleConAdultos] [bit] NOT NULL,
	[CompatibleConOtrosAnimales] [bit] NOT NULL,
	[Personalidad] [nvarchar](max) NULL,
	[Descripcion] [text] NULL,
	[Estado] [nvarchar](50) NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
	[IdRefugio] [int] NULL,
	[Foto] [nvarchar](255) NULL,
	[Vistas] [int] NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITOS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS](
	[Id] [int] NOT NULL,
	[IdAdoptante] [int] NOT NULL,
	[IdMascota] [int] NOT NULL,
	[FechaAgregado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MascotasFavoritas]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_MascotasFavoritas]
AS
SELECT 
	m.Id,
	m.Nombre,
	m.Especie,
	DATEDIFF(MONTH, m.FechaNacimiento, GETDATE()) AS Edad,
	m.Tamano,
	m.Sexo,
	m.Foto,
	f.IdAdoptante,
	f.FechaAgregado
FROM
 MASCOTAS m
 INNER JOIN
 FAVORITOS f on m.Id = f.IdMascota
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Id] [int] NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[ContrasenaLimpia] [nvarchar](255) NOT NULL,
	[ContrasenaEncriptada] [varbinary](max) NOT NULL,
	[Salt] [nvarchar](255) NOT NULL,
	[TipoUsuario] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFIL_USUARIO]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL_USUARIO](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FotoPerfil] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFUGIOS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFUGIOS](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NombreRefugio] [nvarchar](255) NOT NULL,
	[ContactoRefugio] [nvarchar](255) NOT NULL,
	[CantidadAnimales] [int] NOT NULL,
	[CapacidadMaxima] [int] NOT NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_RefugioPerfil]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_RefugioPerfil] AS
SELECT 
    U.Id AS IdUsuario,
    U.NombreUsuario,
    U.Email,
    P.FotoPerfil,
    P.Descripcion,
    R.NombreRefugio,
    R.ContactoRefugio,
    R.CantidadAnimales,
    R.CapacidadMaxima,
    R.Latitud,
	R.Longitud
FROM USUARIOS U
JOIN PERFIL_USUARIO P ON U.Id = P.IdUsuario
JOIN REFUGIOS R ON U.Id = R.IdUsuario
WHERE U.TipoUsuario = 'Refugio';
GO
/****** Object:  Table [dbo].[ADOPTANTES]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADOPTANTES](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[TipoVivienda] [nvarchar](100) NULL,
	[TieneJardin] [bit] NOT NULL,
	[OtrosAnimales] [bit] NOT NULL,
	[RecursosDisponibles] [nvarchar](255) NULL,
	[TiempoEnCasa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_AdoptantePerfil]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[V_AdoptantePerfil] AS
SELECT 
    U.Id AS IdUsuario,
    U.NombreUsuario,
    U.Email,
    P.FotoPerfil,
    P.Descripcion,
    A.Nombre,
    A.TipoVivienda,
    A.TieneJardin,
    A.OtrosAnimales,
    A.RecursosDisponibles,
    A.TiempoEnCasa
FROM USUARIOS U
JOIN PERFIL_USUARIO P ON U.Id = P.IdUsuario
JOIN ADOPTANTES A ON U.Id = A.IdUsuario
WHERE U.TipoUsuario = 'Adoptante';
GO
/****** Object:  Table [dbo].[SOLICITUDESADOPCION]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUDESADOPCION](
	[Id] [int] NOT NULL,
	[IdAdoptante] [int] NOT NULL,
	[IdMascota] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[ExperienciaPrevia] [bit] NULL,
	[TipoVivienda] [nvarchar](100) NULL,
	[OtrosAnimales] [bit] NULL,
	[Recursos] [nvarchar](255) NULL,
	[TiempoEnCasa] [nvarchar](255) NULL,
	[FechaSolicitud] [datetime] NULL,
	[FechaRespuesta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_SolicitudesRefugio]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[V_SolicitudesRefugio] AS
SELECT
    sa.Id,
    sa.IdAdoptante,
    sa.IdMascota,
    sa.Estado,
    sa.ExperienciaPrevia,
    sa.TipoVivienda,
    sa.OtrosAnimales,
    sa.Recursos,
    sa.TiempoEnCasa,
    sa.FechaSolicitud,
    sa.FechaRespuesta,
    m.Nombre AS NombreMascota,
    m.Especie,
    m.Tamano,
    m.Sexo,
    m.Estado AS EstadoMascota,
    m.Foto AS FotoMascota,
    a.Nombre AS NombreAdoptante,
    r.Id AS IdRefugio,
    r.NombreRefugio
FROM
    SOLICITUDESADOPCION sa
    INNER JOIN MASCOTAS m ON sa.IdMascota = m.Id
    INNER JOIN ADOPTANTES a ON sa.IdAdoptante = a.Id
    INNER JOIN REFUGIOS r ON m.IdRefugio = r.Id

GO
/****** Object:  Table [dbo].[AVISOSABANDONADOS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVISOSABANDONADOS](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
	[Descripcion] [text] NOT NULL,
	[Foto] [nvarchar](255) NULL,
	[Estado] [nvarchar](50) NULL,
	[FechaReporte] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENTARIOSHISTORIAS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIOSHISTORIAS](
	[Id] [int] NOT NULL,
	[IdHistoria] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Comentario] [text] NOT NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTOSVOLUNTARIADO]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOSVOLUNTARIADO](
	[Id] [int] NOT NULL,
	[IdRefugio] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[Capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIASEXITO]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIASEXITO](
	[Id] [int] NOT NULL,
	[IdAdoptante] [int] NOT NULL,
	[IdMascota] [int] NOT NULL,
	[Titulo] [nvarchar](255) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Foto] [nvarchar](255) NULL,
	[FechaPublicacion] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSCRIPCIONESEVENTOS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIPCIONESEVENTOS](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEvento] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIKESHISTORIAS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIKESHISTORIAS](
	[Id] [int] NOT NULL,
	[IdHistoria] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TipoReaccion] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENSAJES]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENSAJES](
	[Id] [int] NOT NULL,
	[IdEmisor] [int] NOT NULL,
	[IdReceptor] [int] NOT NULL,
	[Contenido] [text] NOT NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACIONES]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACIONES](
	[Id] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Mensaje] [nvarchar](255) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Fecha] [datetime] NULL,
	[Leido] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS_ROLES]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_ROLES](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VETERINARIOS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VETERINARIOS](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Especializacion] [nvarchar](255) NOT NULL,
	[Contacto] [nvarchar](255) NULL,
	[Latitud] [float] NULL,
	[Longitud] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADOPTANTES] ([Id], [IdUsuario], [Nombre], [TipoVivienda], [TieneJardin], [OtrosAnimales], [RecursosDisponibles], [TiempoEnCasa]) VALUES (1, 1, N'Juan Pérez', N'Casa', 1, 1, N'["Jardín"]', N'4-8 horas')
INSERT [dbo].[ADOPTANTES] ([Id], [IdUsuario], [Nombre], [TipoVivienda], [TieneJardin], [OtrosAnimales], [RecursosDisponibles], [TiempoEnCasa]) VALUES (2, 2, N'María López', N'Departamento', 0, 0, N'["Tiempo parcial"]', N'4-8 horas')
INSERT [dbo].[ADOPTANTES] ([Id], [IdUsuario], [Nombre], [TipoVivienda], [TieneJardin], [OtrosAnimales], [RecursosDisponibles], [TiempoEnCasa]) VALUES (3, 3, N'Carlos Gómez', N'Casa', 1, 1, N'["Espacio amplio"]', N'4-8 horas')
GO
INSERT [dbo].[AVISOSABANDONADOS] ([Id], [IdUsuario], [Latitud], [Longitud], [Descripcion], [Foto], [Estado], [FechaReporte]) VALUES (1, 1, 40.73061, -73.935242, N'Perro encontrado en el parque central, parece estar perdido', N'perro7.jpg', N'Pendiente', CAST(N'2025-03-13T21:45:08.533' AS DateTime))
GO
INSERT [dbo].[COMENTARIOSHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [Comentario], [Fecha]) VALUES (1, 1, 1, N'¡Me alegra saber que Max encontró un hogar!', CAST(N'2025-03-13T21:45:08.530' AS DateTime))
INSERT [dbo].[COMENTARIOSHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [Comentario], [Fecha]) VALUES (2, 1, 2, N'Felicidades, Juan. Se nota que Max está en buenas manos.', CAST(N'2025-03-13T21:45:08.530' AS DateTime))
INSERT [dbo].[COMENTARIOSHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [Comentario], [Fecha]) VALUES (3, 2, 3, N'Luna es hermosa. Gracias por darle un hogar.', CAST(N'2025-03-13T21:45:08.530' AS DateTime))
GO
INSERT [dbo].[EVENTOSVOLUNTARIADO] ([Id], [IdRefugio], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Capacidad]) VALUES (1, 1, N'Jornada de adopción', N'Evento para encontrar hogar a perros rescatados', CAST(N'2024-03-15T10:00:00.000' AS DateTime), CAST(N'2024-03-15T16:00:00.000' AS DateTime), 50)
INSERT [dbo].[EVENTOSVOLUNTARIADO] ([Id], [IdRefugio], [Nombre], [Descripcion], [FechaInicio], [FechaFin], [Capacidad]) VALUES (2, 2, N'Caminata con perros', N'Salimos a pasear con los perros del refugio', CAST(N'2024-04-10T09:00:00.000' AS DateTime), CAST(N'2024-04-10T12:00:00.000' AS DateTime), 20)
GO
INSERT [dbo].[FAVORITOS] ([Id], [IdAdoptante], [IdMascota], [FechaAgregado]) VALUES (1, 1, 1, CAST(N'2025-03-13T21:45:08.530' AS DateTime))
INSERT [dbo].[FAVORITOS] ([Id], [IdAdoptante], [IdMascota], [FechaAgregado]) VALUES (2, 2, 2, CAST(N'2025-03-13T21:45:08.530' AS DateTime))
INSERT [dbo].[FAVORITOS] ([Id], [IdAdoptante], [IdMascota], [FechaAgregado]) VALUES (3, 3, 3, CAST(N'2025-03-13T21:45:08.530' AS DateTime))
GO
INSERT [dbo].[HISTORIASEXITO] ([Id], [IdAdoptante], [IdMascota], [Titulo], [Descripcion], [Foto], [FechaPublicacion], [Estado]) VALUES (1, 1, 1, N'Max encontró un hogar', N'Después de meses en el refugio, Max fue adoptado por Juan.', N'dueno1.jpg', CAST(N'2025-03-13T21:45:08.530' AS DateTime), N'Aprobada')
INSERT [dbo].[HISTORIASEXITO] ([Id], [IdAdoptante], [IdMascota], [Titulo], [Descripcion], [Foto], [FechaPublicacion], [Estado]) VALUES (2, 2, 2, N'Luna es feliz en su nueva casa', N'María adoptó a Luna y la cuida con mucho amor.', N'dueno2.jpg', CAST(N'2025-03-13T21:45:08.530' AS DateTime), N'Aprobada')
INSERT [dbo].[HISTORIASEXITO] ([Id], [IdAdoptante], [IdMascota], [Titulo], [Descripcion], [Foto], [FechaPublicacion], [Estado]) VALUES (3, 3, 3, N'Rocky disfruta de su nueva familia', N'Aunque inicialmente fue rechazado, Rocky encontró un hogar.', N'dueno3.jpg', CAST(N'2025-03-13T21:45:08.530' AS DateTime), N'Aprobada')
GO
INSERT [dbo].[INSCRIPCIONESEVENTOS] ([Id], [IdUsuario], [IdEvento], [Estado]) VALUES (1, 1, 1, N'Pendiente')
INSERT [dbo].[INSCRIPCIONESEVENTOS] ([Id], [IdUsuario], [IdEvento], [Estado]) VALUES (2, 2, 2, N'Pendiente')
GO
INSERT [dbo].[LIKESHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [TipoReaccion], [Fecha]) VALUES (1, 1, 1, N'MeGusta', CAST(N'2025-03-13T21:45:08.533' AS DateTime))
INSERT [dbo].[LIKESHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [TipoReaccion], [Fecha]) VALUES (2, 1, 2, N'MeEncanta', CAST(N'2025-03-13T21:45:08.533' AS DateTime))
INSERT [dbo].[LIKESHISTORIAS] ([Id], [IdHistoria], [IdUsuario], [TipoReaccion], [Fecha]) VALUES (3, 2, 3, N'Inspirador', CAST(N'2025-03-13T21:45:08.533' AS DateTime))
GO
INSERT [dbo].[MASCOTAS] ([Id], [Nombre], [Especie], [FechaNacimiento], [Tamano], [Sexo], [Castrado], [Vacunado], [Desparasitado], [Sano], [Microchip], [CompatibleConNinos], [CompatibleConAdultos], [CompatibleConOtrosAnimales], [Personalidad], [Descripcion], [Estado], [Latitud], [Longitud], [IdRefugio], [Foto], [Vistas], [FechaRegistro]) VALUES (2, N'Luna', N'Perro', CAST(N'2019-08-20' AS Date), N'Pequeño', N'Hembra', 1, 1, 1, 1, 1, 1, 1, 1, N'Tranquila, Cariñosa', N'Perra rescatada de la calle', N'Adoptado', 41.3851, 2.1734, 1, N'perro2.jpg', 8, CAST(N'2025-03-13T21:45:08.530' AS DateTime))
INSERT [dbo].[MASCOTAS] ([Id], [Nombre], [Especie], [FechaNacimiento], [Tamano], [Sexo], [Castrado], [Vacunado], [Desparasitado], [Sano], [Microchip], [CompatibleConNinos], [CompatibleConAdultos], [CompatibleConOtrosAnimales], [Personalidad], [Descripcion], [Estado], [Latitud], [Longitud], [IdRefugio], [Foto], [Vistas], [FechaRegistro]) VALUES (3, N'Rocky', N'Perro', CAST(N'2021-01-10' AS Date), N'Grande', N'Macho', 1, 1, 1, 1, 1, 0, 1, 1, N'Enérgico, Protector', N'Necesita espacio amplio', N'Disponible', 39.4699, -0.3763, 2, N'perro3.jpg', 5, CAST(N'2025-03-13T21:45:08.530' AS DateTime))
GO
INSERT [dbo].[MENSAJES] ([Id], [IdEmisor], [IdReceptor], [Contenido], [Fecha]) VALUES (1, 1, 2, N'Hola, estoy interesado en adoptar a Max.', CAST(N'2025-03-13T21:45:08.533' AS DateTime))
INSERT [dbo].[MENSAJES] ([Id], [IdEmisor], [IdReceptor], [Contenido], [Fecha]) VALUES (2, 2, 1, N'¡Claro! Podemos agendar una visita.', CAST(N'2025-03-13T21:45:08.533' AS DateTime))
GO
INSERT [dbo].[NOTIFICACIONES] ([Id], [IdUsuario], [Mensaje], [Tipo], [Url], [Fecha], [Leido]) VALUES (1, 1, N'Tu solicitud de adopción está pendiente', N'Solicitud', NULL, CAST(N'2025-03-13T21:45:08.533' AS DateTime), 1)
INSERT [dbo].[NOTIFICACIONES] ([Id], [IdUsuario], [Mensaje], [Tipo], [Url], [Fecha], [Leido]) VALUES (2, 2, N'Tu inscripción al evento ha sido confirmada', N'Aprobación', NULL, CAST(N'2025-03-13T21:45:08.533' AS DateTime), 0)
INSERT [dbo].[NOTIFICACIONES] ([Id], [IdUsuario], [Mensaje], [Tipo], [Url], [Fecha], [Leido]) VALUES (3, 6, N'¡Felicidades! Tu solicitud para adoptar a Mila ha sido aprobada.', N'Aprobación', N'/Adoptante/MisAdopciones', CAST(N'2025-03-13T21:45:08.533' AS DateTime), 0)
GO
INSERT [dbo].[PERFIL_USUARIO] ([Id], [IdUsuario], [FotoPerfil], [Descripcion]) VALUES (1, 1, N'foto_juan.jpg', N'Soy un amante de los animales, busco adoptar un perro o gato.')
INSERT [dbo].[PERFIL_USUARIO] ([Id], [IdUsuario], [FotoPerfil], [Descripcion]) VALUES (2, 2, N'foto_maria.jpg', N'Me encanta cuidar a los animales y busco un compañero peludo.')
INSERT [dbo].[PERFIL_USUARIO] ([Id], [IdUsuario], [FotoPerfil], [Descripcion]) VALUES (3, 3, N'foto_carlos.jpg', N'Tengo experiencia con animales, quiero adoptar un gato.')
GO
INSERT [dbo].[REFUGIOS] ([Id], [IdUsuario], [NombreRefugio], [ContactoRefugio], [CantidadAnimales], [CapacidadMaxima], [Latitud], [Longitud]) VALUES (1, 4, N'Refugio Vida', N'contacto@refugiovida.com', 15, 50, 40.416775, -3.70379)
INSERT [dbo].[REFUGIOS] ([Id], [IdUsuario], [NombreRefugio], [ContactoRefugio], [CantidadAnimales], [CapacidadMaxima], [Latitud], [Longitud]) VALUES (2, 5, N'Hogar Animal', N'info@hogaranimal.com', 20, 60, 41.385064, 2.173404)
GO
INSERT [dbo].[ROLES] ([Id], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[ROLES] ([Id], [Nombre]) VALUES (2, N'Adoptante')
INSERT [dbo].[ROLES] ([Id], [Nombre]) VALUES (3, N'Refugio')
GO
INSERT [dbo].[SOLICITUDESADOPCION] ([Id], [IdAdoptante], [IdMascota], [Estado], [ExperienciaPrevia], [TipoVivienda], [OtrosAnimales], [Recursos], [TiempoEnCasa], [FechaSolicitud], [FechaRespuesta]) VALUES (1, 1, 1, N'Pendiente', 1, N'Casa', 1, N'["Jardín"]', N'4-8 horas', CAST(N'2025-03-13T21:45:08.530' AS DateTime), NULL)
INSERT [dbo].[SOLICITUDESADOPCION] ([Id], [IdAdoptante], [IdMascota], [Estado], [ExperienciaPrevia], [TipoVivienda], [OtrosAnimales], [Recursos], [TiempoEnCasa], [FechaSolicitud], [FechaRespuesta]) VALUES (2, 2, 2, N'Aprobada', 1, N'Departamento', 0, N'["Tiempo parcial"]', N'4-8 horas', CAST(N'2025-03-13T21:45:08.530' AS DateTime), CAST(N'2024-03-25T17:30:00.000' AS DateTime))
INSERT [dbo].[SOLICITUDESADOPCION] ([Id], [IdAdoptante], [IdMascota], [Estado], [ExperienciaPrevia], [TipoVivienda], [OtrosAnimales], [Recursos], [TiempoEnCasa], [FechaSolicitud], [FechaRespuesta]) VALUES (3, 3, 3, N'Rechazada', 0, N'Casa', 1, N'["Espacio amplio"]', N'4-8 horas', CAST(N'2025-03-13T21:45:08.530' AS DateTime), NULL)
GO
INSERT [dbo].[USUARIOS] ([Id], [NombreUsuario], [Email], [ContrasenaLimpia], [ContrasenaEncriptada], [Salt], [TipoUsuario], [FechaRegistro]) VALUES (1, N'juanperez', N'juan@example.com', N'123', 0x656E6372697074616461313233, N'randomSalt1', N'Adoptante', CAST(N'2025-03-13T21:45:08.527' AS DateTime))
INSERT [dbo].[USUARIOS] ([Id], [NombreUsuario], [Email], [ContrasenaLimpia], [ContrasenaEncriptada], [Salt], [TipoUsuario], [FechaRegistro]) VALUES (2, N'maria123', N'maria@example.com', N'321', 0x656E6372697074616461333231, N'randomSalt2', N'Adoptante', CAST(N'2025-03-13T21:45:08.527' AS DateTime))
INSERT [dbo].[USUARIOS] ([Id], [NombreUsuario], [Email], [ContrasenaLimpia], [ContrasenaEncriptada], [Salt], [TipoUsuario], [FechaRegistro]) VALUES (3, N'carlos789', N'carlos@example.com', N'098', 0x656E6372697074616461303938, N'randomSalt3', N'Adoptante', CAST(N'2025-03-13T21:45:08.527' AS DateTime))
GO
INSERT [dbo].[USUARIOS_ROLES] ([IdUsuario], [IdRol]) VALUES (1, 2)
INSERT [dbo].[USUARIOS_ROLES] ([IdUsuario], [IdRol]) VALUES (2, 2)
INSERT [dbo].[USUARIOS_ROLES] ([IdUsuario], [IdRol]) VALUES (3, 2)
GO
INSERT [dbo].[VETERINARIOS] ([Id], [Nombre], [Especializacion], [Contacto], [Latitud], [Longitud]) VALUES (1, N'Dr. López', N'Cirugía', N'vetlopez@correo.com', 40.73061, -73.935242)
INSERT [dbo].[VETERINARIOS] ([Id], [Nombre], [Especializacion], [Contacto], [Latitud], [Longitud]) VALUES (2, N'Dra. Martínez', N'Animales exóticos', N'dra.martinez@veterinaria.com', 41.878113, -87.629799)
GO
/****** Object:  Index [UQ__ADOPTANT__5B65BF965A0CE764]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[ADOPTANTES] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__FAVORITO__8D6F94AF19BDCE24]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[FAVORITOS] ADD UNIQUE NONCLUSTERED 
(
	[IdAdoptante] ASC,
	[IdMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__INSCRIPC__0B515056487D8C8D]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[INSCRIPCIONESEVENTOS] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LIKESHIS__3CB1D438E1AE8CF8]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[LIKESHISTORIAS] ADD UNIQUE NONCLUSTERED 
(
	[IdHistoria] ASC,
	[IdUsuario] ASC,
	[TipoReaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PERFIL_U__5B65BF96FCB6B646]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[PERFIL_USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__REFUGIOS__5B65BF96CAFA9F24]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[REFUGIOS] ADD UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ROLES__75E3EFCF8495C0A7]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[ROLES] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__6B0F5AE09A6CDDD8]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__A9D1053461CA62A3]    Script Date: 13/03/2025 21:56:03 ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADOPTANTES] ADD  DEFAULT ((0)) FOR [TieneJardin]
GO
ALTER TABLE [dbo].[ADOPTANTES] ADD  DEFAULT ((0)) FOR [OtrosAnimales]
GO
ALTER TABLE [dbo].[AVISOSABANDONADOS] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[AVISOSABANDONADOS] ADD  DEFAULT (getdate()) FOR [FechaReporte]
GO
ALTER TABLE [dbo].[COMENTARIOSHISTORIAS] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[FAVORITOS] ADD  DEFAULT (getdate()) FOR [FechaAgregado]
GO
ALTER TABLE [dbo].[HISTORIASEXITO] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[HISTORIASEXITO] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[INSCRIPCIONESEVENTOS] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[LIKESHISTORIAS] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Castrado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Vacunado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Desparasitado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((1)) FOR [Sano]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Microchip]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [CompatibleConNinos]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [CompatibleConAdultos]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [CompatibleConOtrosAnimales]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [Vistas]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MENSAJES] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[NOTIFICACIONES] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[NOTIFICACIONES] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ADOPTANTES]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[AVISOSABANDONADOS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[COMENTARIOSHISTORIAS]  WITH CHECK ADD FOREIGN KEY([IdHistoria])
REFERENCES [dbo].[HISTORIASEXITO] ([Id])
GO
ALTER TABLE [dbo].[COMENTARIOSHISTORIAS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[EVENTOSVOLUNTARIADO]  WITH CHECK ADD FOREIGN KEY([IdRefugio])
REFERENCES [dbo].[REFUGIOS] ([Id])
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD FOREIGN KEY([IdAdoptante])
REFERENCES [dbo].[ADOPTANTES] ([Id])
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD FOREIGN KEY([IdMascota])
REFERENCES [dbo].[MASCOTAS] ([Id])
GO
ALTER TABLE [dbo].[HISTORIASEXITO]  WITH CHECK ADD FOREIGN KEY([IdAdoptante])
REFERENCES [dbo].[ADOPTANTES] ([Id])
GO
ALTER TABLE [dbo].[HISTORIASEXITO]  WITH CHECK ADD FOREIGN KEY([IdMascota])
REFERENCES [dbo].[MASCOTAS] ([Id])
GO
ALTER TABLE [dbo].[INSCRIPCIONESEVENTOS]  WITH CHECK ADD FOREIGN KEY([IdEvento])
REFERENCES [dbo].[EVENTOSVOLUNTARIADO] ([Id])
GO
ALTER TABLE [dbo].[INSCRIPCIONESEVENTOS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[LIKESHISTORIAS]  WITH CHECK ADD FOREIGN KEY([IdHistoria])
REFERENCES [dbo].[HISTORIASEXITO] ([Id])
GO
ALTER TABLE [dbo].[LIKESHISTORIAS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD FOREIGN KEY([IdRefugio])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD FOREIGN KEY([IdEmisor])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[MENSAJES]  WITH CHECK ADD FOREIGN KEY([IdReceptor])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[NOTIFICACIONES]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[PERFIL_USUARIO]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[REFUGIOS]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION]  WITH CHECK ADD FOREIGN KEY([IdAdoptante])
REFERENCES [dbo].[ADOPTANTES] ([Id])
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION]  WITH CHECK ADD FOREIGN KEY([IdMascota])
REFERENCES [dbo].[MASCOTAS] ([Id])
GO
ALTER TABLE [dbo].[USUARIOS_ROLES]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROLES] ([Id])
GO
ALTER TABLE [dbo].[USUARIOS_ROLES]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[AVISOSABANDONADOS]  WITH CHECK ADD CHECK  (([Estado]='Descartado' OR [Estado]='Atendido' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[EVENTOSVOLUNTARIADO]  WITH CHECK ADD CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[EVENTOSVOLUNTARIADO]  WITH CHECK ADD CHECK  (([FechaInicio]<[FechaFin]))
GO
ALTER TABLE [dbo].[HISTORIASEXITO]  WITH CHECK ADD CHECK  (([Estado]='Rechazada' OR [Estado]='Aprobada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[INSCRIPCIONESEVENTOS]  WITH CHECK ADD CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[LIKESHISTORIAS]  WITH CHECK ADD CHECK  (([TipoReaccion]='Asombroso' OR [TipoReaccion]='Solidario' OR [TipoReaccion]='Inspirador' OR [TipoReaccion]='MeEncanta' OR [TipoReaccion]='MeGusta'))
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD CHECK  (([Estado]='Adoptado' OR [Estado]='Disponible'))
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD CHECK  (([Sexo]='Hembra' OR [Sexo]='Macho'))
GO
ALTER TABLE [dbo].[NOTIFICACIONES]  WITH CHECK ADD CHECK  (([Tipo]='Sistema' OR [Tipo]='Mensaje' OR [Tipo]='Aprobación' OR [Tipo]='Solicitud'))
GO
ALTER TABLE [dbo].[SOLICITUDESADOPCION]  WITH CHECK ADD CHECK  (([Estado]='Rechazada' OR [Estado]='Aprobada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD CHECK  (([TipoUsuario]='Refugio' OR [TipoUsuario]='Adoptante'))
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENERMASCOTASFAVORITAS]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[SP_OBTENERMASCOTASFAVORITAS]
 (@idadoptante int)
 as
	select * from V_MascotasFavoritas
	where IdAdoptante = @idadoptante
	order by FechaAgregado desc
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENERSOLICITUDESREFUGIO]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creación del Procedimiento Almacenado
CREATE   PROCEDURE [dbo].[SP_OBTENERSOLICITUDESREFUGIO]
    @idusuario INT
AS
BEGIN
    -- Obtenemos el ID del refugio a partir del ID de usuario
    DECLARE @idrefugio INT
    SELECT @idrefugio = Id FROM REFUGIOS WHERE IdUsuario = @idusuario

    -- Seleccionamos las solicitudes relacionadas con mascotas de este refugio
    SELECT *
    FROM V_SolicitudesRefugio
    WHERE IdRefugio = @idrefugio
    ORDER BY FechaSolicitud DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PERFILADOPTANTE]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_PERFILADOPTANTE]
(@idusuario int)
as
	select * from V_AdoptantePerfil
	where IdUsuario = @idusuario;
GO
/****** Object:  StoredProcedure [dbo].[SP_PERFILREFUGIO]    Script Date: 13/03/2025 21:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_PERFILREFUGIO]
(@idusuario int)
as
	select * from V_RefugioPerfil
	where IdUsuario = @idusuario;
GO
USE [master]
GO
