@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Acceso Denegado</h1>
    <p>No tienes permisos para acceder a esta página.</p>
    <a asp-controller="Managed" asp-action="Landing" class="btn btn-primary">Volver a la página Landing</a>
</div>